/*body {
   /*background: url(/img/black1.jpg);
}
#con{
    width:500px;
    height:100px;
    position:fixed;
    background-color:red;
     
    }
#abc{
    width:450px;
    height:90px;
    top:0px;
    background-color:green;
    display:none;
    
    
}
#cal{
    width:100px;
    height:40px;
    background-color:green;
    right:250px;
    

}*/

.box {
position: relative;
background:#ffd800;
}
#revealUp {
position: absolute;
overflow: hidden;
/*display: none;*/
bottom: 0;
background-color: #c00;
height: 0;
}